*{ margin: 0;
   
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f0f0f0;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    

}
header {
    max-width: 1220px;
    margin: auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); /* POUR FAIRE UN CADRE */
    margin-left: -20px;

}


h1, h2, h3 {
    font-weight: 400;
    margin: 0;
    color: white;
}

h1 {
    font-size: 250%;
    
}

h2 {
    font-size: 150%;
}  


.navbar-brand img {
    width: 150px;
    height: 150px;
}
.navbar {
    margin-bottom: 0;
}



main h1 {
    color: #fff;
}

img {
    display: block; /* PAS D'ECRITURE A COTE DES IMAGES */
    width: 100%;
}

.main-content-flex, .main-text-img, .caption, footer {
    text-align: center;
}
/* POUR FAIRE DES MARGES ET CENTRER LA PAGE */
main {
    max-width: 1220px;
    margin: auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); /* POUR FAIRE UN CADRE */
    

}

/*PARTIE HAUTE HEADER*/


.btn {
    padding: 10px 70px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 20px 0;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    position:relative;   
}

.btn:hover {
    background: white;
    color: black;

}

.rech {
    margin-top: 20px;
}

/*PARTIE BASSE */



.col .lien {
    border: solid #ba3627 2px;
    background-color: #ba3627;
    color: #f0f0f0;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-left: 100px;
}

.col .lien:hover{
    color: #f0f0f0;
    text-decoration: none;
}
.col h1{
    color: #ba3627;

}
.lien {
    text-decoration: none;
}


.col p{
    text-align: justify;
    width: 280px;  
}




.col img {
    width: 280px;
    height: 280px;
    border-radius: 10px;
}

 /*Styles spécifiques pour les écrans de taille moyenne type tablette*/


.col button {
            background-color: #ba3627;
            color: #fff;            
}
.jumbotron {
  height: 30%;
  background-color:transparent !important;
}


            
.col {
  margin-right: 2%;
  margin-left: auto;
}

.main-text-img {
    padding: 16px;
    background: #524f4f;
    color: white;
}

.caption {
    padding: 12px;
}

.carousel-item {
    height: 40vw;
    margin-bottom: 20px;
}
.haut {
    border: solid gray 5px;
    color: gray;
    margin-left: 50px;
    border-radius: 15px;
    padding: 4px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.haut:hover {
    color: gray;
}
#hat {
    margin-top: 20px;
    padding: 50px;
}


/*Footer*/


footer {
  max-width: 1220px;
  display: inline-block;
  margin:0 auto;
  background:gray;
  color:#DFEEF5;
  margin-bottom: -15px;
  margin-top: 20px;
  
  

}
footer ul li a{
    color:#fff;
    text-decoration: none;
}
footer .logo img{
    width:50px; float:left;
}
.lh-footer {
  width:33%;
  display: inline-block;
  margin-left:20px;

}
footer h3 {
    color: #fff;
}

.mid-footer {
  margin-left:50px;
  width:33%;
  display: inline-block;
}

.rh-footer {
  width: 33%;
  display: inline-block;
}

@media (max-width:1000px) {
  #footer{max-width:950px;}
}

@media (max-width:800px) {
  .lh-footer, .mid-footer,  .rh-footer{display:block; width:90%; margin:0 auto;}
}


/* media queries */

@media (min-width: 750px) {
    .main-content {
        display: flex;
        height: 100%;
    }
    .main-content-flex {
        height: 100vh;
    }
    .main-content-img {
        height: 100vh;
    }
}


/*PAGE INDEX-A */
/* Image en Header */

#conteneur {
    position:relative;
    height: 500px;
    width:100vw;
    
}
#conteneur img {
    position:absolute;
    left:0;
    height: 90%;
    width:100vw;  
}
@keyframes fondu-in-out {
    0%    { opacity:1; }
    25%   { opacity:1; }
    75%   { opacity:0; }
    100%  { opacity:0; }
}
#conteneur img.image-de-dessus {
    animation-name: fondu-in-out;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

/* Texte du haut et de l'image 2 */
.texte {
    margin-left: 10%;
    margin-right: 9.6%;
    text-align: justify;
}
/* Pour image 2 */

.cine {
    display:block;
    width:50vw;
    height:400px;
    background:url(images/platantarctique.jpg) center no-repeat;
    font-weight:bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-left: 25%;
    border-radius: 15px;
    margin-bottom: 40px;
}
#cine a {
    color: black;
    
}



/* Texte encadré page index-a */
.all-pou {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
  margin-left: 10%;
  margin-right: 9.6%;
  border-radius: 15px;
  height: auto;
}

.all-pou > h1, .pou {
  margin: 10px;
  padding: 5px;
}

.pou {
  background: white;
}

.pou  h2, p {
  margin: 4px;
  font-size: 90%;
}

.pou h2 {
    color: gray;
}


.pag button {
    border-radius: 15px;
    color: #524f4f;
    margin-left: 50px;
}
@media (max-width: 400px) {
    .pag h2 {
        font-size: 20px;
        
    }
}
/* Haut de page */
.mont {
    border: solid gray 5px;
    color: gray;
    margin-left: 50px;
    border-radius: 15px;
    padding: 4px;
   
}
.mont:hover {
    color: gray;
}

/* Formulaire */
.forma {
    margin-left: 10%;
    
}

.forma h1 {
    color: gray;
    margin-top: 20px;
}






.container {
    color: gray;
}


.aprop{
    height: 400px;
    width: 500px;
    text-align: center;

}


.cuise{
    text-align: center;
}

.cuison{
    text-align: center;
    margin-top: 50px;
}

.aprope{
    height: 400px;
    width: 400px;
    
    position: relative;

}

*{font-family:Open Sans;}
section{width:100%; display:inline-block; background:#9FCBD6; height:60vh; text-align:center; font-size:22px; font-weight:700; text-decoration:underline; color:#DFEEF5;}
#footer-1 {
  width: 100%;
  display: inline-block;
  margin:0 auto;
  background:gray;
  color:#DFEEF5;
  margin-top: 20px;
}

#footer-1 ul li a{
    color:#fff;
    text-decoration: none;
}
#footer-1 .logo img{
    width:50px; float:left;
}
.lh-footer-1 {
  width:33%;
  display: inline-block;
  margin-left:20px;

}
#footer-1 h3 {
    color: #fff;
}

.mid-footer-1 {
  margin-left:50px;
  width:33%;
  display: inline-block;
}

.rh-footer-1 {
  width: 33%;
  display: inline-block;
}

@media (max-width:1000px) {
  #footer-1{max-width:950px;}
}

@media (max-width:800px) {
  .lh-footer-1, .mid-footer-1,  .rh-footer-1{display:block; width:90%; margin:0 auto;}
}







